body{
  background-color: #CAE4E3;
  color:#00454E;
  font-family: Proxima Nova Alt;
  margin:auto;
}

label {
text-align: center;
}

.tester{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#text{
  text-align: center;
}


.header{
text-align: center;
font-size: 40px;
margin: 20px;
}

.virk{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
  height: 150px;
}

#sideNav a {
  position: absolute;
  left: -157px;
  transition: 0.5s;
  padding: 15px;
  width: 240px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  border-radius: 0 5px 5px 0;
  margin-top: 200px;
  background-color: yellow;
  color: black;
}

#sideNav a:hover {
  left: 0;
}

#typografi {
top: 20px;
}

#knapper {
top: 100px;
}

#farver {
top: 180px;
}

#formular {
top: 260px;
}

#ikoner {
top: 340px;
}

#navigation {
top: 420px;
}

.header_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 20%;
  margin-right: 20%;
}

#header_tekst{
  text-align: center;
  font-size: 19px;
}

#header_box{
  font-size: 51px;
  text-align: center;
}

.subheader_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 20%;
  margin-right: 20%;
}

#subheader_tekst{
  text-align: center;
  font-size: 19px;
}

#subheader_box{
  font-size: 35px;
  text-align: center;
}

.tekst_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 20%;
  margin-right: 20%;
}

#tekst_tekst{
  text-align: center;
  font-size: 19px;
}

#tekst_box{
  text-align: center;
  font-size: 19px;
}

.farve_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-right: 25%;
}

.turquoise
{
  width: 75px;
  height: 75px;
  background-color: #47B9B3;
  color: black;
  border-radius: 20px;

}

.skintone{
  width: 75px;
  height: 75px;
  background-color: #F2CAC1;
  color: black;
  border-radius: 20px;
}

.purple{
  width: 75px;
  height: 75px;
  background-color: #444059;
  color: white;
  border-radius: 20px;
}

.black{
  width: 75px;
  height: 75px;
  background-color: #000000;
  color: white;
  border-radius: 20px;
  border: solid grey 2px;
}

.lightblue{
  width: 75px;
  height: 75px;
  background-color: #CAE4E3;
  color: black;
  border-radius: 20px;
  border: solid black 2px
}

.white{
  width: 75px;
  height: 75px;
  background-color: #FFFFFF;
  color: black;
  border-radius: 20px;
}

.midnightblue{
  width: 75px;
  height: 75px;
  background-color: #00454E;
  color: white;
  border-radius: 20px;
}

.red{
  width: 75px;
  height: 75px;
  background-color: #A81A1A;
  color: white;
  border-radius: 20px;
}

.ikon_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin-right: 25%;
  margin-left: 25%;
}

.ikon_hjem{
  width: 35px;
  height: 35px;
}

.ikon_nyheder{
  width: 35px;
  height: 35px;
}

.ikon_kalender{
  width: 35px;
  height: 35px;
}

.ikon_vigtig_info{
  width: 10px;
  height: 35px;
}

.ikon_logud{
  width: 35px;
  height: 35px;
}

.ikon_bruger{
  width: 35px;
  height: 35px;
}

.ikon_roedinfo{
  width: 35px;
  height: 35px;
}

.ikon_pil{
  width: 20px;
  height: 35px;
}

.ikon_indstillinger{
  width: 35px;
  height: 35px;
}

.ikon_eyeno{
  width: 35px;
  height: 35px;
}

.ikon_eyeyes{
  width: 35px;
  height: 35px;
}

footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  bottom: 150px;
  position: fixed;
  bottom: 0;
}

.fbtn {
  background-color:#00454E;
  align-content: stretch;
  width: 25%;
  text-align: center;
  align-items: center;
  transition: 0.3s;
}

.fbtn:hover {
  background-color: #CAE4E3;
}

.ficon {
  margin: 10px;
  margin-bottom: 5px;
  height: 50px;
  width: auto;
}

code {
    color: #000000;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    height: 200px;
    display: block;
    width: 450px;
    align-items: center;
    margin-left: 18%;
    margin-right: 18%;
}

#kodehojre {
    color: #000000;
    height: 200px;
    width: 450px;
    margin-right: 23.5%;
    margin-top: -15%;
    float: right;
}

.htmltekst{
  float: left;
  margin-left: 18%;
}
.csstekst{
float: right;
margin-right: 8.5%;
}

#knapper_seopslag{
  border: 2px solid black;
  margin-left: 20%;
  margin-right: 20%;
  height: 250px;
  width: auto;
}

.knap_selektier{
  color: #00454E;
  font-family: 'arial';
  font-size: 19px;
  background-color: #CAE4E3;
  text-decoration: underline;
  border: none;
  border-radius: 10px;
  padding: 3%;
  margin-left: 5%;
}

.knap_selektier:hover {
    background-color: rgb(71,185,179,80%);
}

.beskrivelse_selektier{
  padding: 10px;
}

.kode_selektier{
 margin-left: 45%;
 margin-top: -17%;
 width: 250px
}

#knapper_selektier{
  border: 2px solid black;
  margin-left: 20%;
  margin-right: 20%;
  height: 250px;
  width: auto;
}

.knap_seopslag{
  color: #00454E;
  font-family: 'arial';
  font-size: 19px;
  background-color: #CAE4E3;
  text-decoration: underline;
  border: none;
  border-radius: 10px;
  padding: 3%;
  margin-left: 5%;
}

.knap_seopslag:hover {
    background-color: rgb(71,185,179,80%);
}

.beskrivelse_seopslag{
  padding: 10px;
}

.kode_seopslag{
 margin-left: 45%;
 margin-top: -17%;
 width: 250px
}

#knapper_pile{
  border: 2px solid black;
  margin-left: 20%;
  margin-right: 20%;
  height: 250px;
}

.knap{
  margin-left: 10%;
}

.beskrivelse_pile{
  padding: 10px;
}

#kode_pile{
 margin-left: 45%;
 margin-top: -17%;
 width: 250px
}

#knapper_login{
  border: 2px solid black;
  height: 250px;
  margin-left: 20%;
  margin-right: 20%;
}

.knap_login{
  margin-left: 5%;
  width: 150px;
  height: 35px;
}

.beskrivelse_login{
  padding: 10px;
}

#kode_login{
  margin-left: 45%;
  margin-top: -10%;
  width: 250px
 }

#knapper_logud{
  border: 2px solid black;
  height: 250px;
  margin-left: 20%;
  margin-right: 20%;
}
.logud {
    color: #00454E;
    font-family: 'arial';
    font-size: 15px;
    background-color: #ffffff;
    text-decoration: underline;
    border: none;
    border-radius: 10px;
    padding: 2%;
    width: 120px;
    margin-left: 5%;
}

.logud:hover {
    background-color: rgb(71,185,179,80%);
}

.logudikon {
    width: 15px;
    max-width: 100%;
    margin-left: 8px;
}

.beskrivelse_logud{
  padding: 10px;
}

.kode_logud{
  margin-left: 45%;
  margin-top: -13%;
  width: 250px
 }

#knapper_send{
  border: 2px solid black;
  height: 250px;
  margin-left: 20%;
  margin-right: 20%;
}

.send_knap {
  margin-left: 5%;
  width: 150px;
  height: 35px;
}

.kode_send{
  margin-left: 45%;
  margin-top: -10%;
  width: 250px
}

#knapper_eye{
  border: 2px solid black;
  height: 250px;
  margin-left: 20%;
  margin-right: 20%;
}

.beskrivelse_eye{
  padding: 10px;
}

.kode_eye{
  margin-left: 45%;
  margin-top: -17%;
  width: 250px
}

.eye{
  width: 80px;
  max-width: 100%;
  margin-left: 100px;
}

#kontakt{
  text-align: center;
}

#n {
  width: 250px;
}

#e {
  width: 250px;
}

#m {
  width: 250px;
}

#my_form {
  text-align: center;
}
