/* Søren */

@font-face {
    font-family: hansen;
    src: url(fonts/hansen.ttf);
}

@font-face {
    font-family: calibri;
    src: url(fonts/calibri.ttf);
}

body {
    background-color: #36244D;
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.container-a {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    grid-area: cna;
}

.container-duplicates {
    display: flex;
    justify-content: space-between;
}

.container-latest {
    display: flex;
    justify-content: space-between;
}

.duplicate-bars {
    height: 20px;
    background-color: #EDE5AF;
    border-radius: 15px;
    width: auto;
    height: 35px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container-subs {
    display: flex;
    justify-content: space-between;
}

.latest-bars-1 {
    height: 20px;
    background-color: #E0F9F0;
    border-radius: 15px;
    width: auto;
    height: 35px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.latest-bars-2 {
    height: 20px;
    background-color: #CBEBDB;
    border-radius: 15px;
    width: auto;
    height: 35px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.thumbnail {
    height: 35px;
    width: 35px;
    background-color: #DF9791;
    border-radius: 10px;
    margin-left: 10px;
}

.duplicates-text {
    grid-area: dt;
}

.date-text {
    grid-area: da;
}

.add-new {
    background-color: #E0F9F0;
    border: 0;
    height: 146px;
    width: 134px;
    border-radius: 15px;
}
.add-new-text {
    margin-bottom: -20px;
}

.info-box {
    background-color: #E0F9F0;
    border: 0;
    height: 146px;
    width: 134px;
    border-radius: 15px;
}

.plus-icon {
    color: #36244D;
    font-size: 50px;
    background-color: #DCBCFD;
    border-radius: 15px;
    width: 60px;
    margin: auto;
}

p {
    font-family: hansen;
}

h2 {
    font-family: hansen;
    font-size: 16px;
    text-align: center;
}

h3 {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 15px;
}

.info-box-out {
    text-align: center;
    font-family: hansen;
}

::-webkit-scrollbar {
    display: none;
}

.scroll-div {
    height: 120px;
    overflow: hidden;
    overflow-y: scroll;
}

.scroll-div-latest {
    height: 100px;
    overflow: hidden;
    overflow-y: scroll;
}


/* Søren */


/* STAAL */

header{
    font-family: hansen;
    color: #E0F9F0;
    text-align: center;
    padding-top: 20px;
    font-size: 23px;
    margin-bottom: 20px;
}

h1{
    font-family: hansen;
    font-size: 11px;
    color: #E0F9F0;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 2px;
    display: none;
}

.sub-headline {
    display: none;
}

.latest-headline {
    display: none;
}

.duplicates-headline {
    display: none;
}

/* STAAL */

/* Søren */

@media only screen and (min-width: 700px) {

    h1{
        display: block;
        color: #FFFFFF;
        font-size: 60px;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    .scroll-bg-duplicates {
        background-color: #ffffff10;
        border-radius: 15px;
        grid-area: sbd;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
    
    .scroll-bg-latest {
        background-color: #ffffff10;
        border-radius: 15px;
        grid-area: sbl;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;

    }
    
    .scroll-bg-sub {
        background-color: #ffffff10;
        border-radius: 15px;
        grid-area: sbs;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        }

    ::-webkit-scrollbar {
        display: block;
        width: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background: #e0f9f050;
        border-radius: 15px;
      }

    ::-webkit-scrollbar-track {
        background: #f1f1f111;
        border-radius: 15px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #e0f9f070;
    }

    .latest-bars-2 {
        margin-right: 10px;
        margin-left: 30px;
        grid-area: lb2;
        position: relative;
    }

    .latest-bars-1 {
        margin-right: 10px;
        margin-left: 30px;
        grid-area: lb1;
        position: relative;
    }

    .sorting {
        position: absolute;
        z-index: 1;
        color: #CBEBDB;
        left: -25px;
        top: 20px;
        font-size: 25px;
        font-weight: 400;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .sorting-spacer {
        position: absolute;
        z-index: 1;
        color: #CBEBDB;
        left: -25px;
        top: 20px;
        height: 30px;
        font-size: 25px;
        font-weight: 400;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .duplicate-bars {
        margin-right: 10px;
    }

    .container-duplicates {
        display: none;
    }
    
    .container-latest {
        display: none;
    }

    .container-subs {
        display: none;
    }

    .container-a {
        justify-content: space-around;
        grid-area: con;
        margin-top: 0px;
    }

    .scroll-div {
        height: 540px;
    }

    .desktop-grid {
        display: grid;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        grid-template-areas:
        "sbs sbs sbs sbs sbs sbs sbs sbs sbs . con"
        "sbs sbs sbs sbs sbs sbs sbs sbs sbs . ."
        "sbs sbs sbs sbs sbs sbs sbs sbs sbs . lah"
        "sbs sbs sbs sbs sbs sbs sbs sbs sbs . sbl"
        "sbs sbs sbs sbs sbs sbs sbs sbs sbs . ."
        "sbs sbs sbs sbs sbs sbs sbs sbs sbs . duh"
        "sbs sbs sbs sbs sbs sbs sbs sbs sbs . sbd"
        ;
    }

    .sub-headline {
        display: block;
        display: flex;
        justify-content: space-around;
    }

    .latest-headline {
        display: block;
        grid-area: lah;
        margin-right: auto;
        margin-left: 10px;
        font-size: 20px;
    }

    .duplicates-headline {
        display: block;
        grid-area: duh;
        margin-right: auto;
        margin-left: 10px;
        font-size: 20px;
    }

    h3 {
        font-weight: 500;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

}

/* Søren */
