@font-face {
    font-family: hansen;
    src: url(fonts/hansen.ttf);
}

body {
    background-color: #36244D;
    margin: 0;
}

.container-a {
    margin-top: 40px;
    display: grid;
    grid-template-areas: 
    ". . . . man . . . mib . . . ."
    ;
}

.add-new {
    background-color: #E0F9F0;
    border: 0;
    height: 146px;
    width: 134px;
    border-radius: 15px;
    grid-area: man;
}

.info-box {
    background-color: #E0F9F0;
    border: 0;
    height: 146px;
    width: 134px;
    border-radius: 15px;
    grid-area: mib;
}

.plus-icon {
    color: #36244D;
    font-size: 50px;
    background-color: #DCBCFD;
    border-radius: 15px;
    width: 60px;
    margin: auto;
}

p {
    font-family: hansen;
}

.alert-container{
    margin: auto;
    width: 330px;
    padding: 10px;
}

.alert-overlay-licens{
    background-color: #E0F9F0;
    border-radius: 15px;
    height: 35px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.thumbnail {
    height: 35px;
    width: 35px;
    background-color: #DF9791;
    border-radius: 10px;
    margin-left: 10px;
}

.alert-overlay-toptekst{
    color: #E0F9F0;
    font-family: 'Calibri';
    text-align: center;
    size: 21px;
}

.red-cross{
    background-color: #e07070;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 67.5px;
    padding-right: 67.5px;
    border-radius: 30px;

}

.check-mark{
    background-color: #E0F9F0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 65px;
    padding-right: 65px;
    border-radius: 30px;
}

.knap-div{
    text-align: center
}

.check-mark-round{
    background-color: #E0F9F0;
    padding-top: 19.5px;
    padding-bottom: 19.5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50%;
}

.oversigt-container{
    margin: auto;
    max-width: 330px;
    padding: 10px;
}

.info-ikon{
    grid-area: infoi;
    padding-top: 5px;
    padding-left: 12px;
}

.email-oversigt{
    margin: 7px;
    grid-area: infotekst;
}

.info-tekst-container{
    display: grid;
    grid-template-columns: .35fr 2fr;
    grid-template-areas:
    "infoi infotekst"
    ". funktext";
    background-color: #cbebdb;
    border-radius: 15px;
    margin-bottom: 10px;
}

.Functionallity-oversigt{
    margin: 7px;
    font-family: 'Calibri';
    grid-area: funktext;
}

.admin-oversigt{
    display: grid;
    background-color: #E0F9F0;
    border-radius: 15px;
    grid-template-columns: .35fr 2fr;
    grid-template-areas: 
    "kalikon admnam"
    ". admail"
    ". pname";
    margin-bottom: 10px;
}

.kalender-ikon{
    padding-top: 5px;
    padding-left: 12px;
    grid-area: kalikon;
}

.admin-name{
    grid-area: admnam;
    margin: 7px;
}

.admin-email{
    font-family: "calibri";
    grid-area: admail;
    margin-left: 8px;
    margin-bottom: 8px;
    margin-top: 2px;
}

.project-name{
    font-family: "calibri";
    grid-area: pname;
    margin-left: 8px;
    margin-bottom: 8px;
    margin-top: 2px;
}

.budget-container{
    display: grid;
    background-color: #cbebdb;
    border-radius: 15px;
    grid-template-columns: .35fr 2fr;
    margin-bottom: 10px;
    grid-template-areas: 
    "monikon pmonth"
    ". sudate"
    ;
}

.money-ikon{
    padding-top: 5px;
    padding-left: 12px;
    grid-area: monikon;
}

.price-month{
    margin: 7px;
    grid-area: pmonth;
    font-family: "calibri";
}

.sub-date{
    font-family: "Calibri";
    grid-area: sudate;
    margin: 7px;
}

.cancel-alert-container{
    display: grid;
    grid-column-gap: 6px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "alert cancelsub"
    ;
}

.red-cancel{
    background-color: #e07070;
    border-radius: 30px;
    grid-area: cancelsub;
    margin: 1;
}

.alert-admin{
    background-color: #E0F9F0;
    border-radius: 30px;
    grid-area: alert;
}

.send-text{
    font-family: "Calibri";
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}